@model MyClinic.Models.PatientModels
@using Utilities
@using MyClinic.Resources;
@{
    var pageUtilities = Model.pageUtilities;
    var orderField = pageUtilities.orderBy;
    var order = pageUtilities.order;
    var intIndex = 1;
    var objSession = Session["user"] as MyClinic.Infrastructure.SessUser;
}          

<table class="rpt-tbl" id="myTable">
    <tr style="background:#FFF;">
        <th style="width:50px;">@Html.Raw(Sorting.GetSortOrder(Translator.Id, "Id", orderField, order))</th>
        <th style="width:300px;">@Html.Raw(Sorting.GetSortOrder(Translator.Name, "Name", orderField, order))</th>
        <th style="width:60px;">@Html.Raw(Sorting.GetSortOrder(Translator.Sex, "Sex", orderField, order))</th>
        <th style="width:65px;">@Html.Raw(Sorting.GetSortOrder(Translator.Age, "Age", orderField, order))</th>
        <th style="width:400px;">@Html.Raw(Sorting.GetSortOrder(Translator.Email, "Email", orderField, order))</th>
        <th style="width:110px;">@Html.Raw(Sorting.GetSortOrder(Translator.Tel, "Tel", orderField, order))</th>
        <th style="width:91px;"></th>
    </tr>                 

    @foreach (var patient in Model.patients)
    {
        var strClass = "op" + @patient.Id;
        intIndex = intIndex + 1;
        string clssR = "event";
        if (intIndex % 2 == 0)
        {
            clssR = "odd";
        }
        var age = "";
        var today = DateTime.Today;
        var dateDiff = today - patient.Dob;
        int Age = 0;

        if (dateDiff.TotalDays < 30)
        {
            age = dateDiff.TotalDays.ToString() + " " + Translator.Day;
        }
        else if (dateDiff.TotalDays >= 30 && dateDiff.TotalDays<365)
        {
            Age = (int)dateDiff.TotalDays / 30;
            age = Age.ToString() + " " + Translator.Month;
        }
        else
        {
            Age = (int)dateDiff.TotalDays / 365;
            age = Age + " " + Translator.Year;
        }
        
        
    <tr id=@patient.Id class="@clssR">
        <td>@patient.Id</td>
        <td>@Html.Raw(patient.Name)</td>
        <td style="text-align:center;">@(patient.Sex == "M" ? Translator.Male : Translator.Female)</td>
        <td style="text-align:center;">@age</td>
        <td >@Html.Raw(patient.Email)</td>
        <td>@Html.Raw(patient.Tel)</td>
        
            @{
                if (objSession.UserType.Contains("FUR"))
                    
                {
                    
                    <td align="center" id="d-ac2"> 
                            <a class="d-ac2" href="@Url.Action("Detail", "Patient", new { id = @patient.Id })">@Translator.Detail</a>
                    </td>
                    
                }
                else
                {
                    <td>
                        <select id="sh" -moz-dir="rtl" class="d-ac showAction" data-value="@patient.Id" data-name="@patient.Name" onchange="$popup.initSetValueSelectAndPopUpAction(this,'@strClass');">
                            <option value="-1" class="al @strClass" style="display:none;">@Translator.Action</option>
                            <option value="5" class="al">@Translator.Edit</option>
                            <option value="6" class="al">@Translator.Detail</option>
                            <option value="7" class="al">@Translator.History</option>
                            <option value="8" class="al">@Translator.PrintHistory</option>
                            <option value="9" class="al">@Translator.Delete</option>
                        </select>
                    </td>
                }
            }
        
    </tr>
    }
</table>
<div class="action">
    @Html.Raw(pageUtilities.listHeader)
    @Html.Raw(pageUtilities.listFooter)
</div>