@using Utilities;
@using MyClinic.Resources
@model MyClinic.Models.DailyVoidModels

@{
    ViewBag.Title = Translator.DailyVoidorCancelReport;
    var host = Utilities.Common.host;
    String pageVersion = System.Configuration.ConfigurationManager.AppSettings["Source:Version"];
    int intIndex = 0;
    decimal TotalItemAmount = 0;
    decimal TotalInterestEarned = 0;
}

<link href="@Url.Content("~/Content/prints/style.report.css?v=" + pageVersion)" rel="stylesheet" type="text/css" />
<div id="header">
    <h1>@Translator.DailyVoidorCancelReport</h1>
    <p class="srch-dte"><strong>@Common.GetSearchDateTimeFormate(Model.strDate)</strong></p>
    <div class="container">
        <div class="row">
            <div style="text-align: left; float:left;">@Translator.Result <strong>@Model.totalRecords</strong> @Translator.Records</div>
            <div style="text-align: right; float:right;">@Common.GetCurrentFullDate()</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="rpt-tbl">
            <tr>
                <th>@Translator.Name</th>
                <th>@Translator.ItemCategory</th>
                <th>@Translator.PawnItem</th>
                <th class="cntr">@Translator.TicketNumber</th>
                <th class="cntr">@Translator.ViaTicket</th>
                <th class="cntr">@Translator.PawnDate</th>
                <th class="cntr">@Translator.ExpireDate</th>
                <th class="cntr">@Translator.TransDate</th>
                <th class="rgh">@Translator.ItemAmount</th>
                <th class="rgh">@Translator.InterestEarned</th>
                <th class="last">@Translator.Reason</th>
            </tr>
      
            @foreach (var record in Model.lstRecords)
            {
                intIndex = intIndex + 1;
                string clssR = "event";
                if (intIndex % 2 == 0)
                {
                    clssR = "odd";
                }

                TotalItemAmount = TotalItemAmount + record.ItemAmount;
                TotalInterestEarned = TotalInterestEarned + record.InterestEarned;
                
                <tr class="@clssR">
                    <td>@Utilities.Common.GetValueDisplay(@record.PawnerName, String.Empty)</td>
                    <td>@Utilities.Common.GetValueDisplay(record.CategoryName, String.Empty)</td>	
                    <td>@Utilities.Common.GetValueDisplay(record.ItemName, String.Empty)</td>
                    <td class="cntr">@Utilities.Common.GetValueDisplay(record.TransNumber, String.Empty)</td>
                    <td class="cntr">@Utilities.Common.GetValueDisplay(record.ViaTransNumber, String.Empty)</td>
                    <td class="cntr">@Utilities.Common.GetDateTimeFormate(record.PawnDate)</td>
                    <td class="cntr">@Utilities.Common.GetDateTimeFormate(record.ExpireDate)</td>
                    <td class="cntr">@Utilities.Common.GetDateTimeFormate(record.TransDate)</td>
                    <td class="rgh">@Utilities.Common.GetCurrencyFormate(record.ItemAmount)</td>
                    <td class="rgh last">@Utilities.Common.GetCurrencyFormate(record.InterestEarned)</td>
                    <td class="last">@Utilities.Common.GetValueDisplay(record.Reason, String.Empty)</td>
                </tr>
            } 
            <tr class="sub-val">
                <td colspan="8"></td>
                <td class="rgh main-val">@Utilities.Common.GetCurrencyFormate(TotalItemAmount)</td>
                <td class="rgh main-val last">@Utilities.Common.GetCurrencyFormate(TotalInterestEarned)</td>
                <td></td>
           </tr> 
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $print.loadPrint();
    });
</script>