@model MyClinic.Models.DiseaseModels
@using MyClinic.Resources;
@using Utilities;
@{
    ViewBag.Title = Translator.DiseaseDetail;
    var host = Utilities.Common.host;
    var modifiedName = "N/A";
    if (Model.user.Name != null)
    {
        modifiedName = Model.user.Name;
    }
}

<div class="title">@Translator.DiseaseDetail</div>
<div class="detail-html">
    <div class="inner"  id="dtl-item">
        <table>
            <tr>
                <td class="editor-label">
                        <Label>@Translator.Name</Label>
                </td>
                <td class="editor-field"  >:
                    @Html.DisplayFor(model => model.dtoDisease.Name)
                </td>
                <td class="editor-label2">
                     <Label>@Translator.ModifiedBy</Label>
                </td>
                <td class="editor-field">:
                    @modifiedName
                </td>
                
            </tr>
            <tr>
                <td class="editor-label">
                        <Label>@Translator.Status</Label>
                </td colspan="3">
                <td class="editor-field" >:@(Model.dtoDisease.Status == 1 ? Translator.Active : Translator.Inactive)</td>
                <td class="editor-label2">
                    <Label>@Translator.ModifiedDate</Label>
                </td>
                <td class="editor-field"  >:
                        @Common.GetDateTimeFormateFull(Model.dtoDisease.CreateDate)
                </td>
                
            </tr>
            <tr>
                <td class="editor-label">
                    <Label>@Translator.CreatedBy</Label>
                </td>
                <td class="editor-field"  >:
                    @Model.dtoDisease.C_Name
                </td>
                <td class="editor-label2">
                        <Label>@Translator.CreatedDate</Label>
                </td>
                <td class="editor-field"  >:
                    @Common.GetDateTimeFormateFull(Model.dtoDisease.CreateDate)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                        <Label>@Translator.Description</Label>
                </td>
                <td class="editor-field"  colspan="3">:
                    @Html.DisplayFor(model => model.dtoDisease.Description)
                </td>  
            </tr>

            <tr class="rlst-btn">
                <td colspan="4">
                    <input onclick="$Common.setRedirectPage('@Url.Action("Edit", "disease", new { Id = Model.dtoDisease.Id })');" class="myLabel" type="button" value="@Translator.Edit"/>
                    <input onclick="$Common.setRedirectPage('@Url.Action("Index", "disease")');" class="myLabel" type="button" value="@Translator.BackToList"/>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $transaction.initDefindActionId("1");
        $transaction.initChangeClassMenu("disease", "disease-selected");
    });
</script>