@using Utilities;
@using MyClinic.Resources  
@model MyClinic.Models.DoctorOperationModels
@{
    ViewBag.Title = Translator.DoctorOperationReport;
    var host            = Utilities.Common.host;
    String pageVersion = System.Configuration.ConfigurationManager.AppSettings["Source:Version"];
}
<!----- Title ----->
<link href="@Url.Content("~/Content/style.report.css?v=" + pageVersion)" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css?v=" + pageVersion)" rel="stylesheet" type="text/css" />
<div class="title">@Translator.DoctorOperationReport</div>
<div id="content" class="rpt-view">
    <div class="action">
        <div class="editor" id="lst-ctr-srch" data-action="@Url.Action("Ajreport", "DoctorOperation")">
            <ul>
                <li>
                    @Html.DropDownList("cboDoct", Model.doctorRecords.Select(item => new SelectListItem
               {
                   Value = item.Id.ToString(),
                   Text = item.Name.ToString(),
                   Selected = 0 == item.Id ? true : false
               }), "---" + Translator.SelectDoctor + "---", new { @class = "slc-ctr" }) 
                </li>
                <li>
                    <select id="searchBy" class="slc-ctr">
                        <option value="Name">@Translator.PatientName</option>
                        <option value="Dis_Name">@Translator.DiseaseName</option>
                        <option value="Sym_Type">@Translator.SymptomType</option>
                     </select>
                </li>
                <li><input id="keyword" type="text" id="searchKeyWord" class="txt-ctr" placeholder="@Translator.Search..."/></li>
                <li class="ttl-ctr">@Translator.FromDate:</li>
                <li class="date"><input type="text" id="startDate" class="txt-ctr ch_date" name="startDate" value="@Model.startDate"></li>
                <li class="ttl-ctr">@Translator.ToDate:</li>
                <li class="date""><input type="text" id="endDate" class="txt-ctr ch_date" name="endDate" value="@Model.endDate"></li>
                
                <li class="ttl-ctr"><a style="padding:0px;"><input type="button" class="btn-stl" id="search-button" value="@Translator.Search" onclick="$manage.SearchManageRecords();" /></a></li>
                <li class="ttl-ctr"><a style="padding:0px;" target="_blank"><input onclick="$print.printManageRecords('@Url.Action("ReportPrint", "DoctorOperation")');" type="button" class="btn-stl" id="print-button" value="@Translator.Print"/></a></li>
                <li class="ttl-ctr"><a style="padding:0px;" target="_blank"><input onclick="$manage.printManageRecords('@Url.Action("ReportCsv", "DoctorOperation")');" type="button" class="btn-stl" id="csv-button" value="@Translator.Csv"/></a></li>
           </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div id="lstContainer" class="tbl">
        @{Html.RenderPartial("Partials/List");}    
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.datepicker.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.manage.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.print.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $transaction.initDefindActionId("1");
        $transaction.initChangeClassMenu("icon-report", "icon-report-selected");
        $datepicker.initRangeDate();
    });
</script>