@using Utilities;
@using MyClinic.Resources  
@model MyClinic.Models.DiseaseOperationModels
@{
    ViewBag.Title = Translator.DiseaseSummaryReport;
    var host            = Utilities.Common.host;
    String pageVersion = System.Configuration.ConfigurationManager.AppSettings["Source:Version"];
}
<!----- Title ----->
<link href="@Url.Content("~/Content/style.report.css?v=" + pageVersion)" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css?v=" + pageVersion)" rel="stylesheet" type="text/css" />
<div class="title">@Translator.DiseaseSummaryReport</div>
<div id="content" class="rpt-view">
    <div class="lst-btn">
        <input onclick="$print.printManageRecords('@Url.Action("ReportPrint", "DiseaseOperation")');" class="myLabel" type="button" value="@Translator.Print"/>
    </div>
    <div id="lstContainer" class="tbl">
        @if (Model.totalRecords > 0)
        {
            Html.RenderPartial("Partials/List");
        }
        else {
            Html.RenderPartial("Partials/NotAvailable");
        }    
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.datepicker.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.manage.js?v=" + pageVersion)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.print.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $transaction.initDefindActionId("1");
        $transaction.initChangeClassMenu("icon-report", "icon-report-selected");
        $datepicker.initRangeDate();
    });
</script>