@model MyClinic.Models.DailyFinancialModels
@using Utilities

@{
    var pageUtilities = Model.pageUtilities;
    var orderField = pageUtilities.orderBy;
    var order = pageUtilities.order;
    var host = Utilities.Common.host;
    int intIndex = 0;
}          

<table class="rpt-tbl">
    <tr>
        <th class="wc">@Html.Raw(Sorting.GetSortOrderManageRecord("Pawner Name", "PawnerName", orderField, order))</th>
        <th>@Html.Raw(Sorting.GetSortOrderManageRecord("Tel", "Tel", orderField, order))</th>
        <th>@Html.Raw(Sorting.GetSortOrderManageRecord("Pawn Item", "ItemName", orderField, order))</th>
        <th>@Html.Raw(Sorting.GetSortOrderManageRecord("Guarantor", "Guarantor", orderField, order))</th>
        <th>@Html.Raw(Sorting.GetSortOrderManageRecord("Valuer Name", "ValuerName", orderField, order))</th>
        <th class="cntr">@Html.Raw(Sorting.GetSortOrderManageRecord("Pawn Date", "PawnDate", orderField, order))</th>
        <th class="cntr">@Html.Raw(Sorting.GetSortOrderManageRecord("Expire Date", "ExpireDate", orderField, order))</th>
        <th class="cntr">@Html.Raw(Sorting.GetSortOrderManageRecord("Status", "Status", orderField, order))</th>
    </tr>
      
    @foreach (var record in Model.lstRecords)
    {
        intIndex = intIndex + 1;
        string clssR = "odd";
        if(intIndex % 2 == 0){
            clssR = "event";
        }

        DateTime oldDate = record.ExpireDate;
        DateTime newDate = DateTime.Now;
        int differenceInDays = (oldDate - newDate).Days;
        string strExpClss = "";
        if (differenceInDays == 1)
        {
            strExpClss = "next-exp";
        }
        else if (differenceInDays == 2) {
            strExpClss = "near-exp";
        }
        else if (differenceInDays <= 0)
        {
            strExpClss = "exp";
        }
        
        <tr class="@clssR @strExpClss">
            <td class="wc">@Utilities.Common.GetValueDisplay(@record.PawnerName, String.Empty)</td>
            <td>@Utilities.Common.GetValueDisplay(record.Tel, String.Empty)</td>		
            <td>@Utilities.Common.GetValueDisplay(record.ItemName, String.Empty)</td>
            <td>@Utilities.Common.GetValueDisplay(record.Guarantor, String.Empty)</td>
            <td>@Utilities.Common.GetValueDisplay(record.ValuerName, String.Empty)</td>
            <td class="cntr">@Utilities.Common.GetDateTimeFormate(record.PawnDate)</td>
            <td class="cntr">@Utilities.Common.GetDateTimeFormate(record.ExpireDate)</td>
            <td class="cntr status">@Utilities.Common.GetPawnStatus(record.Status) </td>
        </tr>
    }

</table>
<div class="action paging">
    @Html.Raw(pageUtilities.listHeader)
    @Html.Raw(pageUtilities.listFooter)
</div>